[Desktop Entry]
Name=Pardus Xfce Tweaks
Name[tr]=Pardus Xfce İnce Ayarlar
GenericName=Xfce Tweaks
GenericName[tr]=Xfce İnce Ayarlar
Comment=Tweak Pardus Xfce settings
Comment[tr]=Pardus Xfce ayarlarını değiştirin
Exec=pardus-xfce-tweaks
Icon=pardus-xfce-tweaks
Terminal=false
Type=Application
Categories=Settings;XFCE;X-XFCE-SettingsDialog;
StartupNotify=true
Keywords=xfce;tweaks;settings;pardus;
Keywords[tr]=xfce;ince;ayarlar;pardus;
