[Desktop Entry]
Name=Pardus XFCE Tweaks
Name[tr]=Pardus XFCE Ayarları
GenericName=XFCE Tweaks
GenericName[tr]=XFCE Ayarları
Comment=Tweak Pardus XFCE settings
Comment[tr]=Pardus XFCE ayarlarını değiştirin
Exec=pardus-xfce-settings
Icon=pardus-xfce-settings
Terminal=false
Type=Application
Categories=Settings;XFCE;
StartupNotify=true
Keywords=tweak;tweaks;xfce;settings;pardus;
