Source: pardus-xfce-tweaks
Section: utils
Priority: optional
Maintainer: Fatih Altun <fatih.altun@pardus.org.tr>
Build-Depends: debhelper-compat (= 13), dh-python, python3-all, python3-setuptools
Standards-Version: 4.6.1
Homepage: https://github.com/pardus/pardus-xfce-tweaks

Package: pardus-xfce-tweaks
Architecture: amd64
Depends: ${misc:Depends},
         ${python3:Depends},
         python3 (>=3.5),
         python3-gi,
         gir1.2-gtk-3.0,
         gir1.2-xfconf-0
Description: Tweak Pardus Xfce settings
 Simple Gtk+ and Python based tweaks application for Xfce.
